@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #000;
    color: #fff;
}

a,
a:visited {
    font-weight: 700;
    color: #f8e6c6;
    text-decoration: none;
}

a:hover {
    color: #ebb970;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #725a36 0%, #000 100%);
}

.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.dsmeta-logo-container img {
    border-radius: 100%;
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    max-width: 150px;
    margin-bottom: 15px;
}

.dsmeta-logo-container h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dsmeta-logo-container p {
    font-weight: 300;
}

#sales {
    padding: 40px 10px;
}

.dsmeta-container {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.dsmeta-card {
    background-color: #725a36;
    border-radius: 10px;
    padding: 35px;
}

.dsmeta-sales-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmeta-form-control {
    width: 100%;
    height: 46px;
    padding: 0 20px;
    background-color: #221b10;
    border: 1px solid #aa9c86;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-sales-table thead {
    height: 55px;
}

.dsmeta-sales-table thead th {
    font-size: 16px;
    font-weight: 700;
    color: #e2ded6;
}

.dsmeta-sales-table tbody tr {
    text-align: center;
    height: 74px;
    border-top: 1px solid #aa9c86;
}

.dsmeta-sales-table tbody td {
    font-size: 18px;
    font-weight: 400;
    color: #f0eeea;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background-color: #5b482b;
}

.dsmeta-sales-table tbody tr:hover {
    background-color: #806a4a;
}

.dsmeta-send-btn-container {
    display: flex;
    justify-content: center;
}

.dsmeta-send-btn {
    height: 45px;
    width: 45px;
    background: rgba(168, 176, 89, 0.2);
    border: 1px solid #a8b059;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-send-btn img {
    width: 40px;
}

@media (max-width: 992px) {
    .hide-992px {
        display: none;
    }
}

@media (max-width: 576px) {
    .hide-576px {
        display: none;
    }
    .dsmeta-card {
        padding: 30px 10px;
    }
    .dsmeta-sales-table tbody tr {
        height: 55px;
    }
    .dsmeta-sales-table tbody td {
        font-size: 14px;
    }
}